.output {
  display: none;
}

.jumbotron {
  background-color: #022f36;
  color: white;
  font-family: Georgia, serif;
}

.card {
  background-color: #cdd3d4;
  color: #022f36;
  padding: 20px;
  margin-bottom: 30px;
  font-family: Georgia, serif;
}

.btn {
  background-color: white;
  font-family: Georgia, serif;
  width: 100%;
}

img {
  height: 300px;
  width: auto;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
