.output {
  display: none;
}

.jumbotron {
  background-color: #022f36;
  color: white;
}

.card {
  background-color: #cdd3d4;
  color: #022f36;
  padding: 20px;
  margin: 20px 0px;
}

.btn {
  background-color: white;
  width: 100%
}
